<% content_for :title, "Editing movie" %>

<h1>Edit movie</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render "form", movie: @movie %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link _to "Back to movies", movies_path, class: "btn btn-secondary" %>
  </div>
</div>
